#allCatagory{
    width: 480px;
    position: absolute;
    top: 165px;
    left: 454px;
    z-index: 1;
    display: flex;
    border: 1px solid #e1e1e1;
    border-top-color: rgb(225, 225, 225);
    border-top-style: solid;
    border-top-width: 1px;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(58,58,58,.2);
    box-shadow: 0px 2px 6px 1px rgba(58,58,58,.2);
    border-top: none;
    background-color: #fff;
    padding: 14px 0 10px 0;
    border-radius: 0 0 4px 4px;
    line-height: 27px;
    font-size: 14px;
}
.allCatagoryChild{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    /* border: 1px solid red; */
}
.allCatagoryChild a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
}