* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

header {
	background-image: linear-gradient(to bottom, #318ffb, #0066ff);
}
.head-top {
	height: 34px;
	display: flex;
	/* border: 2px solid red; */
	justify-content: flex-end;
	align-items: center;
	padding-right: 8%;
	margin-bottom: -10px;
}
.h-top-child {
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}
.h-top-child span {
	margin-left: 4em;
	color: rgb(251, 251, 251);
	width: 100%;
	margin-top: 10px;
	display: flex;
	align-items: center;
	/* background: #000; */
	font-size: 13px;
	cursor: pointer;
	margin-bottom: 5px;
}
.h-top-child > span > i {
	color: rgb(255, 255, 255);
	font-size: 24px;
	margin-right: 2px;
	opacity: 80%;
}
.h-top-child p {
	font-size: 14px;
}
.h-top-child span{
	padding-right: 2px
	;
}
.upArrow::after {
	content: "";
	width: 10px;
	height: 9px;
	display: inline-block;
	border: 1px solid #fff;
	border-width: 1px 1px 0 0;
	transition: transform 0.2s;
	transform: rotate(135deg);
	margin-left: 10px;
	margin-bottom: 3px;
	/* background: #000; */
}

.upArrow:hover::after {
	transform: rotate(-45deg);
	margin-bottom: -0.5px;
}
.none-box {
	width: 255px;
	/* border: 2px solid red; */
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	padding: 15px;
	margin-top: -8.6px;
	position: relative;
	right: 40px;
	z-index: 1;
}
.bxs-up-arrow {
	margin-left: 66%;
	color: #fff;
}
.none-box img {
	border-radius: 5px;
}
.none-box hr {
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.2;
}
.none-box > div:nth-child(1) {
	line-height: 16px;
}
.none-box > div:nth-child(2) {
	/* border: 2px solid blue; */
	display: flex;
	justify-content: space-between;
	height: 120px;
	margin-top: 10px;
	margin-bottom: 28px;
}
.none-box a {
	text-decoration: none;
	color: rgb(11, 11, 11);
	font-size: 14px;
}
.none-box a:hover {
	text-decoration: underline;
	color: #2383fc;
}

/* ------------------------------ */

.none-parent-1 {
	position: absolute;
	right: 390px;
	display: none;
	z-index: 1;
}
.none-parent-2 {
	position: absolute;
	right: 455px;
	display: none;
	z-index: 1;
}
.none-parent-3 {
	position: absolute;
	right: 455px;
	display: none;
	z-index: 2;
}
.top-head {
	position: relative;
}

/* --------------------------------------- */

.language {
	font-size: 13px;
	background-color: #fff;
	padding: 2px 25px;
	line-height: 31px;
	min-width: 100px;
	overflow: scroll;
	height: 360px;
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	position: relative;
	left: 140px;
	margin-top: -8.6px;

	z-index: 1;
}
.langArrow {
	margin-left: 160%;
	color: #fff;
}
.SupportArrow {
	margin-left: 261%;
	color: #fff;
}
.support {
	height: 115px;
	width: 135px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background-color: #fff;
	position: relative;
	left: 300px;
	margin-top: -8.6px;
	padding: 12px;
}
.s-child > i {
	cursor: pointer;
	color: #318ffb;
	font-size: 20px;
}
.s-child {
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	padding: 7px 10px;
}
.s-child img {
	position: relative;
	right: 2px;
	top: 3px;
}
.s-child p {
	cursor: pointer;
	font-size: 15px;
	color: rgb(81, 80, 80);
}
.p-1 {
	position: relative;
	right: 15px;
}
.p-2 {
	position: relative;
	right: 40px;
	top: 4px;
}
.p-3 {
	position: relative;
	/* right: 1px; */
	top: 1.5px;
}

.cart-number{
	font-size: 12px;
	position: absolute;
	left: 1606px;
	top: 115px;
	max-width: 34px;
	min-width: 14px;
	height: 14px;
	line-height: 14px;
	border-radius: 9px;
	text-align: center;
	padding: 2px;
	color: #fff;
	background-color: #f1403c;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#cart-box-parent{
	display: block;
	position: absolute;
	left: 1448px;
	top: 139px;
	display: none;
}
#cart-box{
	position: relative;
	width: 350px;
	height: 80px;
	background: #fff;
	right: 120px;
	top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding-bottom: 5px;
}
#cart-box p{
	margin-bottom: 12px;
}
.cart-box-arrow{
	position: relative;
    left: 60px;
	
}


/* .sticky-app{
	position: absolute;
	right: 500px;
	display: none;
	z-index: 1;
} */

#selected{
	width: 240px;
	height: 35px;
	text-indent: 27px;
	font-size: 16px;
}